In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

In [2]:
date_range = pd.date_range('2020-01-01','2022-12-31')
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=1096, freq='D')

In [3]:
date_range = pd.Series(date_range)

In [5]:
df = pd.DataFrame({'day':date_range, 'day_of_year':date_range.dt.dayofyear,
                  'year':date_range.dt.year, 'month':date_range.dt.month,
                  'day_of_month':date_range.dt.day})
df.head()

         day  day_of_year  year  month  day_of_month
0 2020-01-01            1  2020      1             1
1 2020-01-02            2  2020      1             2
2 2020-01-03            3  2020      1             3
3 2020-01-04            4  2020      1             4
4 2020-01-05            5  2020      1             5

In [10]:
df.groupby(df.month).size()

month
1     93
2     85
3     93
4     90
5     93
6     90
7     93
8     93
9     90
10    93
11    90
12    93
dtype: int64

In [11]:
df[(df.day_of_month == 5) & (df.month == 3)]

           day  day_of_year  year  month  day_of_month
64  2020-03-05           65  2020      3             5
429 2021-03-05           64  2021      3             5
794 2022-03-05           64  2022      3             5